<% include_stylesheet 'admin/application' %>
<h1>Edit: <%= @testimonial.title %></h1>

<% form_for(:testimonial, :url => "/admin/testimonials/update/#{params[:id]}", :html => {:multipart => true}) do %>
 
<%= render :partial => 'form' %>

<% end %>